<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
  <display-name>web03</display-name>


<!-- 
	<servlet>
		<servlet-name>cal</servlet-name>
		<servlet-class>lesson.servlet.Cal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cal</servlet-name>
		<url-pattern>/cal</url-pattern>
	</servlet-mapping>
-->



<filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>spms.filters.CharacterEncodingFilter</filter-class>
	
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>CharacterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>





<context-param>
	<param-name>driver</param-name>
	<param-value>org.postgresql.Driver</param-value>
</context-param>
<context-param>
	<param-name>url</param-name>
	<param-value>jdbc:postgresql://localhost:5432/sam</param-value>
</context-param>
<context-param>
	<param-name>username</param-name>
	<param-value>postgres</param-value>
</context-param>
<context-param>
	<param-name>password</param-name>
	<param-value>jsyun0415</param-value>
</context-param>

<servlet>
	<servlet-name>AppInitServlet</servlet-name>
	<servlet-class>spms.servlets.AppInitServlet</servlet-class>
	<!-- 웹 어플리케이션이 최초 구동될 때, 서블릿 요청이 없더라도 서블릿이 실행될 수 있도록 설정 -->
	<load-on-startup>1</load-on-startup>
</servlet>

  <servlet>
		<servlet-name>MemberUpdateServlet</servlet-name>
		<servlet-class>spms.servlets.MemberUpdateServlet</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>org.postgresql.Driver</param-value>
		</init-param>
		
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:postgresql://localhost:5432/sam</param-value>
		</init-param>
		
		<init-param>
			<param-name>username</param-name>
			<param-value>postgres</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>jsyun0415</param-value>
		</init-param>
		
	</servlet>
  <servlet-mapping>
		<servlet-name>MemberUpdateServlet</servlet-name>
		<url-pattern>/member/update</url-pattern>
	</servlet-mapping>



  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>